@model PackageCreateSelectViewModel

<div class="container" style="min-height:525px">
    <div class="py-5 text-center">
        <h2>Add package</h2>
        <p class="lead">Please choose location to add package</p>
    </div>

    @if (User.IsInRole("Provider"))
    {
        <div class="card-deck m-5">

            @foreach (var item in Model.Locations)
            {
                <div class="card" style="width:18rem">
                    <a href="@Url.Action("Create","Package", new { id = item.LocationId })">
                        <img class="card-img-top" src="~/uploads/location/@item.Picture" alt="location photo">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-white">@item.Name</h5>
                        </div>
                    </a>
                </div>
            }

        </div>
    }
</div>







