<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="mb-5">About Us</h1>
            <h6>Company Background</h6>
            <p>
                Grande Travel is a network of the best luxury travel agencies, with more than 17,500 advisors worldwide. We represent the best of the best in travel, with a portfolio of nearly 1,700 preferred partners - top hotels, cruise lines, tour operators, and more. Our advisors use their global connections to plan the most memorable experiences for their clients, from weekend getaways to dream vacations.
            </p>
            <br />
            <h6>Company Goals</h6>
            <p>
                We aim to provide you with luxurious and exlusive travel experiences that can be found nowhere else.
                We aim to give you memories for years to come for your getaway whether it be for a family trip, 
                honeymoon, birthday, anniversary or other special occasion.
                We aim to provide packages that are value for money
            </p>
        </div>
    </div>
</div>
