<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="mb-5">Help</h1>
            <h6>Contact Us</h6>
            <p>
                For Travelers

                Our staff is available to help you 8 a.m. to 7 p.m AEST Monday through Friday.

                For help connecting with a travel provider:
                Find a travel provider
                Call +1-817-870-0300
                Email: help@grandetravel.com

                For help with grandetravel.com:
                Call +1-817-870-0300
                Email: help@grandetravel.com
            </p>
            <p>
                For Travel Professionals

                Agency owners or managers interested in more information about membership, please contact us.
                Consultants, agents, or anyone searching for a career in travel can learn more about becoming a travel provider
                Travel providers, including hotels, tour companies, cruise lines, etc., who are interested in becoming Grande Travel preferred suppliers, please email us at help@grandetravel.com or call +1-817-870-0300.
            </p>
        </div>
    </div>
</div>