@model AccountRegisterViewModel

<div class="text-center bg-light" style="height:525px">
    <form class="form-signin-register" asp-controller="Account" asp-action="Register" asp-antiforgery="true" method="Post">

        <div asp-validation-summary="ModelOnly">

        </div>

        <h1 class="h3 mb-3 font-weight-bold pt-5">Please register</h1>
        <label class="sr-only" asp-for="UserName"></label>
        <input class="form-control" type="email" placeholder="Email address" autofocus="" asp-for="UserName" />
        <span style="color:red" asp-validation-for="UserName"></span>

        <label class="sr-only" asp-for="Mobile"></label>
        <input class="form-control form-signin-password-mid" type="text" placeholder="Mobile" asp-for="Mobile" />
        <span style="color:red" asp-validation-for="Mobile"></span>

        <label class="sr-only" asp-for="Password"></label>
        <input class="form-control form-signin-password-mid" type="password" placeholder="Password" asp-for="Password" />
        <span style="color:red" asp-validation-for="Password"></span>

        <label class="sr-only" asp-for="ConfirmPassword"></label>
        <input class="form-control form-signin-password" type="password" placeholder="Confirm password" asp-for="ConfirmPassword" />
        <span style="color:red" asp-validation-for="ConfirmPassword"></span>

        <input asp-for="IsProvider">
        <label class="checkbox" asp-for="IsProvider">Provider</label>
        <span style="color:red" asp-validation-for="IsProvider"></span>

        <button class="btn btn-lg btn-primary btn-block" style="background-color:darkcyan; border-color:darkcyan" type="submit">Register</button>

    </form>
</div>
